<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.component.css">
</head>
<body>
    <div class="container">
        <div class="heading text-center p-2 mb-3 bh-light">
    <h1>Collaboration Project</h1>
</div>
    <form [formGroup]="registerForm" (ngSubmit)="registerSubmited()" method="post">
        <div class="row g-0">
            <div class="col text-center p-2 mb-3 bh-light">
             <span class="fs-3">Login</span>
         </div>
         </div>
        <div class="imgcontainer">

        </div>
      
        <div class="container">
          <label for="email"><b>Email</b></label>
          <input type="email" placeholder="Enter email" name="email" formControlName="username" required >
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" formControlName="password" required>
      
          <button type="submit">Login</button>
          <label>
            <input type="checkbox" checked="checked" name="remember" formControlName="remember"> Remember me
          </label>
          
        </div>
        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="registerbtn"><a href="register">Register</a></button>
            <span class="psw">Forgot <a href="#">password?</a></span>
          </div>
      
 
          
       
      </form>
    </div>
</body>