<div class="container">
    <div class="row">
        <div class="col">
            <h2>Welcome!</h2>
        </div> 
        <div class="col">
            <div class="topnav" id="myTopnav">
                
                <a href="#home" class="active">Sign Out</a>
                <a href="#home" class="active">Profile</a>
            </div>  
        </div>
            
        <div class="row">
        <div class="col-md-3 p-3 w-8">
            <div class="container">
                <div class="card">
                  <div class="card-body-md-3 p-5 w-4">
                    <h5 class="card-title">My Courses</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Click Here</a>
                  </div>
                
                </div>
                <div class="card">
                <div class="card-body-md-2 p-5 w-4">
                    <h5 class="card-title">My Classes</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Click Here</a>
                  </div>
                </div>
              </div>
              
        </div>


    </div>
</div>

